[submodule "An-ensemble-learning-for-microplastcs-identification-with-FTIR"]
	path = An-ensemble-learning-for-microplastcs-identification-with-FTIR
	url = https://github.com/lyheiyu/An-ensemble-learning-for-microplastcs-identification-with-FTIR.git
